.block-base {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #FFF;
}

.block-header {
    border-bottom: 1px solid black;
    font-weight: 600;
}

.block-footer {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #888;
    font-size: 0.8em;
    font-style: italic;
}

ul.block-inputs {
    position: float;
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
}

ul.block-outputs {
    position: float;
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
}

ul.block-inputs li {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

ul.block-outputs li {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

